* {}

#heading {}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#footing {}

#recipe {}

#ingred {}

#search {}

.boxes {
  width: 250px;
  border: 1px solid black;
}

.profilePic {
  width: 80%;
}

.rName {}

h1 {}

form {}

input {}

br {}

p {}

hr {}

img {}

a {}

ul {}

li {}

footer {}
